
.oculto{
    display:none;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 35px;
}

.mep{
    color:darkviolet;
}

.oficial{
    color:green;
}

.blue{
    color:blue;
}